RewriteEngine On

# If the requested path is not a real file (-f)
RewriteCond %{REQUEST_FILENAME} !-f
# If the requested path is not a real directory (-d)
RewriteCond %{REQUEST_FILENAME} !-d
# Redirect all requests to index.php
RewriteRule ^ index.php [QSA,L]
